*
{
    margin: 0;
    padding: 0;
}
body
{
  background-color: #d2d9db;
}
h1 
{
    font-family: 'Poppins-Black';
    font-weight: 900;
}
h2
{
    font-family: 'Poppins-Medium';
    font-weight: 500;
}
h3, p, h4
{
    font-family: 'Poppins-Regular';  
    font-weight: 400;
}
header {
    background-color: #2D73DB;
    
  }
  
  header img {
    height: 60px;
    width: 120px;;
    
  }
  .img_left
{
    display: inline-flex;
    justify-content: left;
    text-align: left;
}
  .img_right{
    float: right;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid #222;
  }

  
  .nav
  {
    background-color: white;
    text-align: left;
    font-family: 'Makisupa';
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #fb7217;
  }
  .nav a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
  }
  button
  {
    margin-left: 40px;
    margin-top: 40px;
  }
  .btn1 a
  {
    
    padding: 15px;
    background-color: #2D73DB;
    border: none;
    border-radius: 8px;
    color: white;
    text-decoration: none;
  }
  .btn1 a:hover
  {
    box-shadow: 0 0 15px #fb7217;
  }
  .btn2 a
  {
    
    padding: 15px;
    background-color: #2D73DB;
    border: none;
    border-radius: 8px;
    color: white;
    text-decoration: none;
  }
  .btn2 a:hover
  {
    box-shadow: 0 0 15px #fb7217;
  }
  .contenedor
  {
    display: flex;
    justify-content: center;
    align-items: left;
    background-color: white;
    height: 50vh;
    width: 55vh;
    flex-direction: column;
    margin-left: 60vh;
    margin-top: 20vh;
    box-shadow: 0 0 15px #fb7217;
  }
  .nom, .Edad, .tutor, .Asignatura, .Grado
  {
    display: flex;
    padding-left: 25%;
    padding-top: 20px;
    
  }
  .nom input, .Edad input, .tutor input, .Asignatura input, .Grado input
  {
    margin-left: 20px;
    padding: 10px;
  }
  input
  {
    border-radius: 8px;
    outline: none;
    padding: 10px;
  }
  .agregar
  {
    width: 25%;
    margin-top: 40px;
    margin-left: 20vh;
    border: none;
    color: white;
    background-color: #2D73DB;
    padding: 10px;
    border-radius: 8px;
  }
  .agregar:hover
  {
    box-shadow: 0 0 15px #fb7217;
  }
  .usua input
  {
    padding-right: 17px;
  }
  .contra input
  {
    padding-right: 65px;
  }
  .id input
  {
    padding-right: 70px;
  }
  .clase input
  {
    padding-right: 35px;
  }
  .Email input
  {
    padding-right: 110px;
  }