*
{
    margin: 0;
    padding: 0;
}
header {
    background-color: #2D73DB;
    
  }
  h1, a
{
    font-family: 'Poppins-Black';
    font-weight: 900;
}
h2
{
    font-family: 'Poppins-Medium';
    font-weight: 500;
}
h3, p
{
    font-family: 'Poppins-Regular';  
    font-weight: 400;
}
  header img {
    height: 60px;
    width: 120px;;
    
  }
  .img_left
{
    display: inline-flex;
    justify-content: left;
    text-align: left;
}
  .img_right{
    float: right;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid #222;
  }

  
  .nav
{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #fb7217;
    background-color: white;
}
.nav li
{
   
    font-family: 'Makisupa';
    display: flex;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    
}
.nav ul
{
    display: flex;
    text-decoration: none;
}
.nav ul li a
{
    color: black;
    list-style: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.mt-3 ul
{
    text-decoration: none;
    list-style: none;
}
.mt-3 ul li a
{
    color: white;
    list-style: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.nav ul li a::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: #fb7217;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav ul li a:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sidebar
{
    background-color: #fb7217;
    width: 30vh;
    color: white;
    height: 93vh;
    text-align: center;
    float: left;
}
ul
{
    list-style: none;
}
.sidebar img
{
    border-radius: 50%;
    padding-top: 50px;
}
.sidebar h3
{
    text-align: center;
    justify-content: center;
}
.sidebar a
{
    margin-left: 10px;
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-right: 20px;
    padding-top: 20px;
    list-style: none;
}

.card
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.m-3
{
    padding-top: 10px;
    padding-left: 20px;
}
.nombre, .respuesta
{   
    padding-left: 20px;
}
.box
{
    display: flex;
    padding:10px;
    margin-top: 20px;
}

.nombre
{
    font-size: 20px;
}
.content
{
    background-color: whitesmoke;
   
    height: 60vh;
}

hr
{
    border-color: #fb7217;
}