*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #d2d9db;
}
header {
    background-color: #2D73DB;
    
  }
  h1, a
{
    font-family: 'Poppins-Black';
    font-weight: 900;
}
h2
{
    font-family: 'Poppins-Medium';
    font-weight: 500;
}
h3, p
{
    font-family: 'Poppins-Regular';  
    font-weight: 400;
}
  header img {
    height: 60px;
    width: 120px;;
    
  }
  .img_left
{
    display: inline-flex;
    justify-content: left;
    text-align: left;
}
  .img_right{
    float: right;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid #222;
  }

  
  .nav_bar 
  {
    background-color: white;
    text-align: left;
    font-family: 'Makisupa';
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #fb7217;
  }


  .nav_bar a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
  }
  .nav_bar  a::after, .boton_seccion ul li a::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: #fb7217;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_bar a:hover::after, .boton_seccion ul li a:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}
  .asist
  {
    display: flex;
  }
  .asist i, .asist h2
  {
    font-size: 60px;
  }
  .asist i, .asist h2
  {
    padding-left: 20px;
  }
 .slow th, .show td
 {
    padding: 10px;
    padding-left: 50px;
    padding-right: 71.5px;
    
 }
 .boton-modal
 {
    margin-top: 40px;
    margin-left: 120px;
    justify-content: space-between;
    margin-right: 40px;
 }
 .boton-modal label
 {
    padding: 10px  15px;
    background-color: #2D73DB;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
 }
 .all
 {
   margin-top: 40px;
   margin-left: 90px;
   
 }
 .all label
 {
   padding: 10px  15px;
   background-color: #2D73DB;
   color: white;
   border-radius: 8px;
   cursor: pointer;
   margin-left: 30px;
 }
 label a
 {
   text-decoration: none;
   list-style: none;
   color: white;
 }
 label:hover
 {
   box-shadow: 0 0 15px #fb7217;
 }
 .persona
 {
   font-size: 20px;
   padding-top: 40px;
   margin-left: 120px;
 }
 .buscar_contenedor
 {
     display: flex;
     margin-top: 10px;
 }
 .buscar_contenedor input
 {
     width: 250px;
     height: 10px;
     padding: 15px;
     margin-left: 101vh;
     outline: none;
     margin-top: 2px;
     border-bottom-left-radius: 5px;
     font-size: 1rem;
     
 }
 
 .buscar_contenedor button
 {
     background-color: #fb7217;
     width: 40px;
     height: 40px;
     margin-top: 2px;
     color: white;
     border-radius: 0 5px 5px 0;
     cursor: pointer;
     
     
 }
 button i
 {
    transform: scale(0.4);
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: -8px;
 
 }
 #btn-modal
 {
    display: none;
 }
 
 .container-modal
 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
 }
 #btn-modal:checked ~ .container-modal
 {
    display: flex;
 }
 .content-modal
 {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5%;
   
 }
 .content-modal h4
 {
    margin-bottom: 15px;
 }
 .v1, .v2, .v3
 {
    display: flex;
 }
 .v2, .v3
 {
    padding-top: 20px;
 }
 .v1 p
 {
    padding-left: 120px;
 }
 .v2 input
 {
    margin-left: 110px;
 }
 .v3 h4
 {
    margin-left: 20px;
    margin-right: 20px;
 }
 .v3 input
 {
    padding-left: 2px;
 }
 .content-modal .btn-cerrar
 {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
 }
 .content-modal .btn-cerrar label
 {
    padding: 7px 10px;
    background-color: #2D73DB;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms;
 }
 .content-modal .btn-cerrar label:hover
 {
    color: #fb7217;
 }
 table
 {
    display: flex;
    font-size: 20px;
    margin-top:80px;
    background-color: white;
    border-collapse: collapse;
    margin-left: 120px;
    margin-right: 120px;
    box-shadow: 0 0 25px #2D73DB;
 }
 .slow, .show
 {
    border-top: 2px solid gray;    
 }

.icon a i
{
    color: #2D73DB;
}
.icon .verde i
{
    color: green;
}

/** mobile **/
@media (max-width:767px)
{
   .nav_bar a
   {
      padding: 0px 5px;
      font-size: 11px;
   }
   table
 {
   width: 100%;
    font-size: 15px;
    margin-top:20px;
    margin-left: 0;
 }
 .slow th, .show td
 {
    
    padding-left: 11px;
    padding-right: 0px;
    font-size: 14px;
    
 }
 .asist h2
 {
   font-size: 40px;
 }
 .asist i
 {
   font-size: 40px;
 }
}