body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2D73DB;
    
  }
  
  header img {
    height: 60px;
    width: 120px;;
    
  }
  .img_right{
    float: right;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid #222;
  }
  .flex
  {
    background-color: #fb7217;
    width: auto;
    height: 10px;
    align-items: center;
    margin: auto;
  }
  
  .nav_bar 
  {
    font-family: 'Makisupa';
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .nav_bar a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
  }
  
  main h1{
    margin-left: 80px;
  }
  main
  
  .sobre
  {
    margin-left: 130px;
    background-color: #fb7217;
    width: 110px;
    text-align: center;
  }
  #edit-profile {
    background-color: #fff;
    padding-top: 30px ;
    padding-left: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border: 2px solid #fb7217;
    box-shadow: 0 0 25px #fb7217;
  }
  .img_perfil img
  {
    border: 3px solid#222;
    border-radius: 50%;
  }
  .img_perfil
  {
    display: flex;
    float: right;
    height: 35vh;
    margin-right: 35vh;
  }
  main {
    height: 78.5vh;
    
  }
  
  label {
    font-weight: bold;
  }
  
  input, select, textarea {
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    
  }
  .boton
  {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
  
  button {
    background-color: #2D73DB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .boton i
  {
    color: white;
    font-size: 17px;
  }

  .boton :hover
  {
    color: #fb7217;
  }
  footer {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
  
  footer p {
    color: #fff;
  }

  /** mobile **/
@media (max-width:767px)
{
  .nav_bar
  {
    font-size: 10px;
    padding-right: 5px;
  }
  .nav_bar a
  {
    padding: 5px 10px;
  }
  .img_perfil
  {
    display: none;
  }
  #edit-profile
  {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:60vh;
  }
  .sobre
  {
    display: none;
  }
  .boton
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form-group input
  {

    width: 83%;

  }
  .form-group select
  {
    width: 90%;
  }
}