*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: lightgray;
}
h1, a
{
    font-family: 'Poppins-Black';
    font-weight: 900;
}
h2
{
    font-family: 'Poppins-Medium';
    font-weight: 500;
}
h3, p
{
    font-family: 'Poppins-Regular';  
    font-weight: 400;
}
.cabeza
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2D73DB;
    width: 100%;
    height: 46px;
    z-index: 100;
}
.logo
{
    margin-left: 30px;
}
.logo img
{
    width: 50px;
    font-size: 20px;
}
.barra_navegar
{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #fb7217;
    background-color: white;
}
.barra_navegar li
{
   
    font-family: 'Makisupa';
    display: flex;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    
}
.barra_navegar ul
{
    display: flex;
    text-decoration: none;
}
.barra_navegar ul li a
{
    color: black;
    list-style: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.mt-3 ul
{
    text-decoration: none;
    list-style: none;
}
.mt-3 ul li a
{
    color: white;
    list-style: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.barra_navegar ul li a::after, .mt-3 ul li a::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: #fb7217;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.barra_navegar ul li a:hover::after, .mt-3 ul li a:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.sidebar
{
    background-color: #2D73DB;
    width: 30vh;
    color: white;
    height: 93vh;
    text-align: center;
    float: left;
}
.sidebar img
{
    border-radius: 50%;
    padding-top: 50px;
}
.sidebar h3
{
    text-align: center;
    justify-content: center;
}
.sidebar a
{
    margin-left: 10px;
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-right: 10px;
    padding-top: 20px;
}

.card
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.card-container
{
    padding-top: 10px;
    padding-left: 20px;
    background-color: white;
}
.sobre
{
    display: flex;
    padding-left: 30px;
}
.nombre, .respuesta
{   
    padding-left: 20px;
}
.box
{
    display: flex;
    padding:10px;
    margin-top: 20px;
}

.content
{
    background-color: whitesmoke;
   
    height: 60vh;
}

hr
{
    border-color: #fb7217;
}




/** mobile **/
@media (max-width:767px)
{
    .sidebar
    {
        display: none;
    }
    .barra_navegar li
    {
        font-size: 10px;
    }
}